.wrapper {
    display: flex;
    flex-direction: column;
    margin: 2em 8em;
    padding: 3em;
    border-radius: var(--radius);
    background-color: var(--color-grey-main);
}

.basket_total {
    margin-top: .8em;
    text-align: right;
}
