/*.form {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));*/
/*    !*gap: 3em;*!*/
/*    max-width: 1000px;*/
/*    margin: 2em 8em;*/
/*    padding: 2em;*/
/*    border-radius: var(--radius);*/
/*    background-color: var(--color-grey-main);*/
/*}*/

.form_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/*@media (max-width: 1024px) {*/
/*    .form {*/
/*        margin: 1em;*/
/*        padding: 1em;*/
/*    }*/
/*}*/

/*@media (max-width: 768px) {*/
/*    .form {*/
/*        margin: 1em 2em;*/
/*    }*/
/*}*/

.header_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin-bottom: 1em;
}

.inputs {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    /*padding: 2.5em 2em;*/
}

.card {
    width: 250px;
    border-radius: var(--radius);
    -webkit-box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.2);
    background-color: white;
}

.wrapper_description {
    padding: 1em;
}

.text_description {
    font-size: 13px;
    padding: .5em 0;
}

.placeholder_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    min-width: 200px;
    height: 250px;
    border-radius: var(--radius) var(--radius) 0 0;
    background-color: var(--color-grey-lite);
}

.payment_terms {
    font-size: 15px;
}

.payment_terms_title {
    margin-bottom: .8em;
}

/*@media (max-width: 700px) {*/
/*    .form {*/
/*        margin: 1em;*/
/*    }*/
/*}*/
