.header {
  padding: 2em 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-right: auto;
  margin-left: 25px;
  width: 3em;
}

.basket {
  position: relative;
  padding: 0;
  background: transparent;
  border: none;
  margin-left: 30px;
  cursor: pointer;
}

.basket:hover {
  background: transparent;
}

.basket_count {
  position: absolute;
  top: -4px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: var(--color-accent-main);
  color: white;
  font-size: 10px;
}

.wrapper_right {
  display: flex;
  align-items: center;
  margin-left: 4em;
}

.nav_wrapper {
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  .nav_wrapper {
    flex-direction: row-reverse;
    margin-right: 10px;
  }
}
