.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button:hover {
    background-color: inherit;
    color: inherit;
}

.button > span {
    margin-left: 1em;
}

.hidden {
    opacity: 0;
    height: 0;
    width: 0;
    line-height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
