.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 425px) {
    .container {
        padding: 1em;
    }
}
