.link {
    padding: 0 .5em;
    font-size: 12px;
    font-weight: bold;
    color: var(--color-blue-light);
}

.link_phone {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: var(--color-blue-light);
    font-weight: bold;
}

.link_phone > svg {
    fill: var(--color-blue-light);
}

.link_phone > svg:hover {
    fill: var(--color-blue-dark);
}


.navigate {
    display: flex;
    align-items: flex-end;
}

.navigate_list {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.navigate_mobile {
    display: none;
}

.menu_btn {
    display: none;
}

.menu_list {
    position: fixed;
    top: 0;
    left: 0;
    width: 320px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    z-index: 1;
    transition: all .2s ease-in-out;
    background-color: var(--color-grey-lite);
}

.menu_active {
    transform: translateX(0);
}

.menu_close {
    transform: translateX(-100vw);
}

.menu_btn_close {
    position: absolute;
    top: 30px;
    right: 20px;
}

.basket_count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: var(--color-blue-dark);
    color: white;
    font-size: 10px;
    margin-left: 8px;
}


@media (max-width: 1024px) {
    .navigate {
        display: none;
    }

    .navigate_mobile {
        display: block;
    }

    .menu_btn {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: transparent;
        border: none;
        padding: 0;
        transform: translateY(2px);
    }

    .menu_btn:hover {
        background-color: transparent;
    }

    .link_phone {
        display: flex;
        align-items: center;
        padding: 12px 30px;
        width: 100%;
    }
}

@media (max-width: 500px) {
    .menu_btn {
        width: 24px;
        height: 24px;
        transform: translateY(0);
    }

    .menu_list {
        width: 100vw;
    }

}
